.ant-menu {
    background: transparent !important;
  }
  
  .ant-menu-horizontal {
    border-bottom: none !important;
    display: flex !important;
    flex-wrap: nowrap !important;
  }
  
  .ant-menu-item {
    font-size: 15px;
    padding: 0 16px !important;
    color: var(--text-primary) !important;
  }
  
  .ant-menu-item:hover {
    color: var(--primary-color) !important;
  }
  
  .ant-menu-item-selected {
    color: var(--primary-color) !important;
  }
  
  .ant-menu-item-selected::after {
    border-bottom: 2px solid var(--primary-color) !important;
  }
  
  .ant-drawer-content {
    background: var(--header-bg);
  }
  