
@use "./variables" as *;
@use "./antd-overrides";








html,
body,
#root {
  height: 100%;
}

html,
body {
  overflow-x: hidden;
}

/* AntD slick width bug */
.slick-track {
  display: flex !important;
}


body {
  background: var(--header-bg);
  color: var(--text-primary);
  transition: background 0.3s ease, color 0.3s ease;
}

/* AntD Layout */
.app-layout {
  min-height: 100vh;
}

/* Push content below fixed header */
.app-content {
  margin-top: calc(var(--topbar-height) + var(--header-height));
}



.headerNav {
  background: transparent !important;
  border-bottom: none !important;

  .ant-menu-item {
    color: var(--text-primary);
    font-weight: 500;
    transition: color 0.2s ease;
  }

  /* Hover only */
  .ant-menu-item:hover {
    color: var(--primary-color);
  }

  /* Kill selected styles completely */
  .ant-menu-item-selected {
    color: inherit !important;
    background: transparent !important;
  }

  .ant-menu-item::after,
  .ant-menu-item-selected::after {
    border-bottom: none !important;
  }
}
